.edit-form{
    display: flex;
    flex-direction: column;
}
.close-button{
    margin-top: 3px;
}
.edit-form button{
    margin-top: -10px;
}
.edit-form textarea{
    min-height: 100px;
}
.edit-form input{
    margin-bottom: 20px;
}
.edit-form .checkbox-input{
    margin-bottom: 2px;
}
.edit-form .date-input{
    margin-top: 3px;
}
.edit-form button, .close-button{
    transform: scale(0.9);
}