button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: #0000EE;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 2px;
}
button span{
    font-size: 20px;
    margin-right: 4px;
    font-weight: bold;
}
button p{
    font-weight: bold;
    font-size: 17px;
}
.header2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.user-pic{
    height: 40PX;
    width: 40px;
    border-radius: 50%;
    background-color: #0000EE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    transform: translateX(250px);
}
.create-task-button{
    transform: translateX(-250px);
    
}
.logout-button{
    transform: translateX(280px);
    margin-top: 3px;
}

.drop-down select{
    width: 170px;
}

.task-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
    min-height: 60vh;
    width: 100%;
}
.task-card{
    padding: 20px;
    border-radius: 4px;
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}
.task-description{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid blue;
    text-align: center;
}
.task-status{
    margin-top: 50px;
}