.home-page-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.left-side{
    width: 50%;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.right-side{
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.get-started{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
}
.slogan{
    margin-top: 30px;
    font-size: 25px;
    color: blue;
  }
  .slogan .face{
    transform: translateY(5px);
  }
.get-started button{
    font-weight: bold;
    padding: 13px;
    font-size: 17px;
}