.home-page-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.left-side{
    width: 50%;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.right-side{
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
}