.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 40px;
    flex-wrap: wrap;
}
.form-section{
    display: flex;
}
.form-left-side{
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(0, 0, 255);
    padding: 8px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    flex-direction: column;
}
.form-right-side{
    width: 400px;
    height: 400px;
}
.form-right-side form{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.form-right-side form input{
    margin-top: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid blue;
}
.form-right-side form input:focus{
    outline: none;
}
label{
    font-weight: bold;
}
#label{
    margin-top: 30px;
}
button{
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
}
.sign-in-with-google{
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
.google-icon{
    color: #4285F4;
    margin-right: 4px;
}
.google-icon:hover{
    color: #3367D6;
}
.google-icon:active{
    color: #2D55C7;
}