button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: #0000EE;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 2px;
}
button span{
    font-size: 20px;
    margin-right: 4px;
    font-weight: bold;
}
button p{
    font-weight: bold;
    font-size: 17px;
}
.header2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.user-pic{
    height: 40PX;
    width: 40px;
    border-radius: 50%;
    background-color: #0000EE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    color: white;
}
.create-task-button{
    margin-left: 50px;
    width: 150px;
    margin-top: 0;
}
.logout-button{
    margin-right: 100px;
    margin-top: 7px;
}
.login-button-section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.drop-down select{
    width: 170px;
    height: 25px;
    border: 1px solid #0000EE;
}
.drop-down select:focus{
    outline: none;
}
.drop-down p{
    font-weight: bold;
}

.task-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 60vh;
    width: 100%;
}
.task-card{
    padding: 20px;
    border-radius: 4px;
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 12px;
    margin: 20px;
}
.task-description{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid blue;
    text-align: center;
}
.task-status{
    margin-top: 30px;
}
.task-due-date{
    margin-top: 30px;
}
.edit{
    margin-top: 30px;
}